{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista Produto</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Tamanho</th>
                <th>Valor</th>
                <th>Modelo</th>
                <th>Quantidade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td><a href="{{ path('produto_show', { 'id': produto.codigo }) }}">{{ produto.codigo }}</a></td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.tamanho }}</td>
                <td>{{ produto.valor }}</td>
                <td>{{ produto.modelo }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produto_show', { 'id': produto.codigo }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produto_edit', { 'id': produto.codigo }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produto_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
