{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 col-lg-8">    
        <a class="btn btn-primary pull-right" href="{{path('produto_new')}}">Cadastrar Novo</a>
        <h1>Listagem de Produto</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th>Tamanho</th>
                    <th>Valor</th>
                    <th>Modelo</th>
                    <th>Quantidade</th>
                    <th>Marca</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td><a href="{{ path('produto_show', { 'id': produto.codigo }) }}">{{ produto.codigo }}</a></td>
                        <td>{{ produto.nome|upper }}</td>
                        <td>{{ produto.tamanho }}</td>
                        <td class="text-right">R${{ produto.valor|number_format(2, ',', '.') }}</td>
                        <td>{{ produto.modelo }}</td>
                        <td class="text-right">{{ produto.quantidade }}</td>
                        <td>{{ produto.marca }}</td>
                        <td>

                            <a class="btn btn-default" href="{{ path('produto_edit', { 'id': produto.codigo }) }}">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
